<%- include('before', {WebTitle: '中科大SOFC实验室预约系统'}); %>

<header class="mdui-appbar mdui-appbar-fixed mdui-shadow-0 mdui-color-theme-600">
    <div class="mdui-toolbar">
        <button class="mdui-btn mdui-btn-icon" mdui-drawer="{target: 'aside', swipe: true}"><i class="mdui-icon material-icons">menu</i></button>
        <span class="mdui-typo-headline">中科大SOFC实验室预约系统</span>
        <div class="mdui-toolbar-spacer"></div> 
        <button id="right-header-btn" class="mdui-btn mdui-ripple-red" mdui-drawer="{target: 'aside', swipe: true}" ><i class="mdui-icon mdui-icon-left material-icons"><%= (icon?"star":"person") %></i> <%= username %> (<%= id %>) </button>
    </div>
    <div class="mdui-tab mdui-tab-full-width mdui-color-theme-600"></div>
</header>

<aside class="mdui-drawer mdui-drawer-close mdui-shadow-6">
    <div class="user-info">
        <div class="user-info-name"><%= username %></div>
        <div class="user-info-id"><%= id %></div>   
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-list">
        <a href="javascript:showAnnouncement(true);" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">announcement</i>
            <div class="mdui-list-item-content">公告</div>
        </a>
        <div class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">brightness_2</i>
            <div class="mdui-list-item-content">夜间模式</div>
            <label class="mdui-switch">
                <input id="nightmode_switch" type="checkbox" onclick="changeNightMode();">
                <i class="mdui-switch-icon"></i>
            </label>
        </div>
        <a href="/logout" class="mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">exit_to_app</i>
            <div class="mdui-list-item-content">退出登录</div>
        </a>
    </div>
</aside>

<div id="top-container" class="mdui-container-fluid mdui-color-theme-600 mdui-shadow-6">
    <div id="announcement-dialog" class="mdui-dialog">
        <div class="mdui-dialog-title"></div>
        <div class="mdui-dialog-content"></div>
        <div class="mdui-dialog-actions">
            <button class="mdui-btn mdui-ripple" mdui-dialog-close>确认</button>
        </div>
    </div>
</div>

<div id="bottom-container" class="mdui-container">
    <div id="main-card" class="mdui-card mdui-center mdui-shadow-12">
        <div id="button-row" class="mdui-row">
            <div class="mdui-col-xs-4">
                <button onclick="refreshPanel()" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-600">刷新</button>      
            </div>
            <div class="mdui-col-xs-4">
                <button onclick="submit()" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-600">预约</button>
            </div>
            <div class="mdui-col-xs-4">
                <button onclick="deleteHistory()" class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-600" <%= delButton %> >删除记录</button>
            </div>
        </div>
    </div>
</div>

<%- include('after'); %>  